
hcgcalidad_services-master/hcgcalidad_services-master/.vs/HCGCALIDADSERVICES/v16/

hcgcalidad_services-master/hcgcalidad_services-master/HCGCALIDADSERVICES/bin/Debug/netcoreapp2.1/

hcgcalidad_services-master/hcgcalidad_services-master/HCGCALIDADSERVICES/obj/Debug/netcoreapp2.1/

hcgcalidad_services-master/hcgcalidad_services-master/HCGCALIDADSERVICES/obj/

*.v2

hcgcalidad_services-master/hcgcalidad_services-master/HCGCALIDADSERVICES/bin/Release/netcoreapp2.1/

hcgcalidad_services-master/hcgcalidad_services-master/HCGCALIDADSERVICES/Properties/PublishProfiles/

hcgcalidad_services-master/hcgcalidad_services-master/.vs/HCGCALIDADSERVICES/config/applicationhost.config
